body{
    background-color: rgb(224, 224, 224);
}

#show-products {
    margin-left: 60px;
    display : flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#kundvagn-div {
    cursor: pointer;
    position: absolute;
    left: 10px;
    text-align: center;
    font-size: larger;
}

#kundvagn-div > *{
    margin: 0;
    
}

#bild {
    width: 70px;
    
}

#go {
    cursor: pointer;
}

.div-prod {
    background-image: linear-gradient(rgb(203, 203, 203), rgb(255, 255, 255));
    cursor: pointer;
    width: 200px;
    display: flex;
    flex-flow: column;
    border-radius: 10px;
    margin: 20px;
    padding-bottom: 15px;
    border: rgb(207, 64, 183) solid 2px;
}

.div-prod > *{
    align-self: center
}

