#show-products {
    margin-left: 60px;
    display : flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#kundvagn-div {
    background-color: rgba(210, 161, 255, 0.3);
    height: 130px;
    position: absolute;
    left: 10px;
}

#go {
    cursor: pointer;
}

.div-prod {
    background-image: linear-gradient(rgb(178, 178, 178), rgb(229, 229, 229));
    cursor: pointer;
    width: 200px;
    display: flex;
    flex-flow: column;
    border-radius: 10px;
    margin: 20px;
    padding-bottom: 15px;
}

.div-prod > *{
    align-self: center
}

